.custom-home-footer-review#first
  .custom-home-footer-review__container
    a.custom-home-footer-review__button(v-html='props.button_text', href='https://search.google.com/local/writereview?placeid=ChIJF5_x57Yv0YkRAxAGy1qUPFw' target="_blank")
  .custom-home-footer-review__invisalign 
    .custom-home-footer-review__invisalignwrap
      .reviews_diamond(v-html='props.diamond_plus_intro')
      .custom-home-footer-review__read-more
        .customclick(v-on:click="welcome1Click()") Read More      
    
