.page-new-patients
  Loader(v-if='loading')
  div(v-if='props && !loading')
    First(:props='props.acf.custom_first')
    Financial(:props='props.acf.custom_financial')
    Divider
    FunEvent
    Patients(:props='props.acf.custom_patients')
