.pages-retainer-program
  .pages-retainer-program__container
    .pages-retainer-program__title(v-if='props.title.rendered' v-html:p='props.title.rendered')
    .pages-retainer-program__content(v-if='props.content.rendered' v-html:p='props.content.rendered')
