.menu
  .menu__overlay
  .menu__container
    .menu__link-container(
      v-for='(link, i) in links'
      :key='i'
      v-if='link.navigation'
      :style="styleObject"
      :class='{"active": $route.name  === link.name && !$store.state.menu}')
      .menu__link(
        v-on:click='closeMenu(link.path)'
        :style="{backgroundImage: 'url(' + link.url + ')'}") 
        | {{ link.name }}
      //- Prevent default -> apply classes -> goto route
