.style-guide
  .style-guide__container
    Icon.style-guide__logo(name='matt_logo-01')
    .style-guide__typography
      h1 Header 1
      h1.h1-option Header 1.b
      h2 Header 2
      h2.h2-option(style='background: black; display: inline-block') Header 2.b
      h3 Header 3
      h3.h3-option Header 3.b
      
      p This is paragraph text. It is the text style that is in paragraphs 
      p and is all throughout the page in paragraphs.
      
      Icon.style-guide__ig(name='ig')
      
      .style-guide__button-main
        span Make an Appointment
        Icon.style-guide__button-main-icon(name='arrow')
      
      
