.event-modal(v-if='props')
  .event-modal__overlay(@click='closeModal(2)')
  .event-modal__container
    .event-modal__close(@click='closeModal(2)')
      span
      span
    .event-modal__content
      .event-modal__text(v-html='props.acf.event_modal.content')
      .event-modal__logos-container(v-if='props.acf.event_modal.logo_container')
        .event-modal__logos(v-for='(props, i) in props.acf.event_modal.logo_container', :key='i')
          .event-modal__logo(:style="{backgroundImage: 'url(' + props.logo + ')'}")
      .event-modal__form-container  
        EventForm
      .event-modal__spacer
