.event-modal
  .event-modal__overlay(@click='closeModal(2)')
  .event-modal__container
    .event-modal__close(@click='closeModal(2)')
      span
      span
    .event-modal__content
      | I'm modal Content
