.pages-mouth-guard-thank-you
  .custom-mouth-guard-thank-you
    .custom-mouth-guard-thank-you__content
      .custom-mouth-guard-thank-you__text
        h2(v-html='props.acf.custom_thank_you.content')
