.modal-thanks
  .modal__overlay(@click='closeThanks')
  .modal-thanks__container
    .modal-thanks__close(@click='closeThanks')
      span
      span
    .modal-thanks__content
      .modal-thanks__logo-container
        Icon.modal-thanks__logo(name='matt_logo-01')
      .modal-thanks__text
        h2 Thank you!
        p You are all set! Please download the form below for a faster visit!
        a.modal-thanks__link(href='https://www.mattiacioortho.com/wp-content/uploads/Mouth-Guard-Permission-and-Release-Form-2017-OTHER.pdf') Download the Form
