.modal-thanks
  .modal__overlay(@click='closeThanks')
  .modal-thanks__container
    .modal-thanks__close(@click='closeThanks')
      span
      span
    .modal-thanks__content
      .modal-thanks__logo-container
        Icon.modal-thanks__logo(name='matt_logo-01')
      .modal-thanks__text   
        h2 Thank you!
        p We'll get back to you shortly.
