.hero-mobile
  position: relative

  &__overlay
    position: absolute
    top: 0
    left: 0
    background: linear-gradient(180deg, rgba($black, .25), transparent 40%)
    width: 100%
    height: 100%

    @media screen and (max-width: $break-sm)
      background: rgba($black, .25)

  &__home
    // margin-top: 11vh
    background-position: 70%
    background-size: cover
    width: 100%
    height: 50vh
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center

  &__video
    position: absolute
    height: 100%
    width: auto

  &__hero-title
    padding: 2% 5% 0
    color: $white
    font-size: 1em
    @media screen and (min-width: 500px) and (max-width: $break-md - 1)
      font-size: 2em

  &__hero-message
    margin: 2% 0
    padding: 0 5%
    color: $white
    font-size: 0.6em
    @media screen and (min-width: 500px) and (max-width: $break-md - 1)
      font-size: 0.9em

  &__facebook-button
    @include button-circle-phil(249px, $white, $blue, .35s, 1px, $white, 30px, 4px, 30px, -225px, -40px)
    margin: 0 auto
    max-width: 215px
    height: 40px
    font-size: 0.75em

  &__link
    position: absolute
    top: 63%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    z-index: 12
    margin: 30px 0
    border: none
    border-radius: 27.5px
    padding: 0.5rem 1.125rem
    min-width: 360px
    min-height: 70px
    text-align: center
    line-height: 36px
    font-weight: 300


  &__event
    @include button-circle-phil(297px, $white, $white, .35s, 1px, $turquoise, 30px, 6px 0, 34px, -2700px, -3000px)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: opacity .35s ease-in-out
    z-index: 11
    background-color: $white
    max-height: 48px
    color: $turquoise
    font-size: 18px

  &__about-us,
  &__new-pats,
  &__treatments,
  &__matt-diff,
  &__invisalign,
  &__contact,
  &__covid,
  &__virtual-services,
  &__videos
    background-repeat: no-repeat
    background-position: 45%
    background-size: cover
    width: 100%
    height: 80vh

    @media screen and (max-width: $break-sm)
      background-position: 45%
      height: 50vh

  &__new-pats
    background-position: 85%
    height: 80vh

  &__treatments
    background-position: 75%

    @media screen and (max-width: $break-sm)
      height: 60vh

  &__matt-diff
    background-position: 70%

  &__invisalign
    background-position: 75%

  &__contact
    background-position: right

  &__covid
    background-position: bottom left

  &__virtual-services
    background-position: left

  &__title
    // @extend h1
    // @extend .h1-option
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-transform: uppercase
    letter-spacing: 2px
    color: $white
    font-family: $avenir
    font-size: 32px
    font-weight: 900


    .hero-mobile__matt-diff &
      top: 60%

    .hero-mobile__invisalign &
      top: 70%

    .hero-mobile__contact &
      top: 40%
      font-size: 24px

  &__appt
    @include button-circle-phil(249px, $white, $blue, .35s, 1px, $white, 30px, 4px, 30px, -225px, -40px)
    // position: absolute
    // bottom: 40%
    // left: 50%
    // transform: translate(-50%, -50%)
    transition: opacity .35s ease-in-out
    z-index: 11
    border-radius: 24px
    cursor: pointer
    padding: 0 0 6px
    width: 100%
    max-width: 287px
    max-height: 65px
    text-align: center

    &:after
      display: none

    &#virtual
      top: 76%

      span
        position: relative
        top: 15%

    span
      cursor: pointer
      letter-spacing: 2px
      color: $white
      font-family: $avenir
      font-size: 0.75em
      font-weight: 600

    &-icon
      // extended shadow transition to wait for circle to collapse
      transition: all .55s ease-in-out
      border-radius: 50%
      box-shadow: 0 2px 4px 0 rgba($black, .33)

      svg
        .line
          fill: $white

    &:hover
      // quickly remove box-shadow as bg expands
      .home-mobile__appt-icon
        transition: box-shadow .15s ease-in-out
        box-shadow: none

    &:active
      box-shadow: none

    &.active
      transition: opacity .35s ease-in-out
      opacity: 0

    // @media (max-width: 768px)
    @media (max-width: 879px)
        position: relative
        bottom: -6%
  
  &__hr-single-px
    margin: 1px 0

  &__buttons
    width: fit-content
    z-index: 10
    margin-bottom: 20.5vh

  &__button
    padding: .4rem 1rem .5rem
    width: 100%
    background: rgba($blue, .8)
    color: $white
    font-size: 1.1rem
    text-align: center
    border: 1px solid $white
    border-radius: 30px
    cursor: pointer
