.custom-contact-form-section
  .custom-contact-form-section__container
    .custom-contact-form-section__form-container
      Form
    .custom-contact-form-section__contact
      .custom-contact-form-section__hours(v-html='props.hours')
      Icon.custom-contact-form-section__logo(name='matt_logo_small')
      .custom-contact-form-section__address(v-html='props.address')
      .custom-contact-form-section__phones(v-html='props.phones')  
            
