.pages-home
  div(v-if='props')
    Welcome(:props='props.acf.custom_welcome')
    Why(:props='props.acf.custom_why')
    Testimonials(:props='props.acf.custom_testimonials')
    Retainers(:props='props.acf.custom_retainers')
