.home-hero
  .home-hero__overlay
  .home-hero__container
    video.home-hero__video(loop muted autoplay)
      source.home-hero__source(:src='props.acf.hero_video' type='video/mp4', :poster='props.acf.poster')
      | Your browser does not support video.
  .home-hero__appt(:class='{active: $store.state.menu}', @click='makeAppt')
    span Make an Appointment
    Icon.home-hero__appt-icon(name='arrow') 
