.home-hero(v-if='props')
  .home-hero__overlay
    .home-hero__container
      h2.home-hero__title {{ props.acf.custom_home_hero_message.title }}
      hr
      .home-hero__message(v-html='props.acf.custom_home_hero_message.message')
      a.home-hero__facebook-button(href='https://www.facebook.com/pg/mattiacioortho/videos/' target='_blank')
        span {{ props.acf.custom_home_hero_message.custom_button.label }}
        Icon.footer__rewards-icon(name='arrow')
      .home-hero__message2(v-html='props.acf.custom_home_hero_message.message2')
      .home-hero__virtual-consult.openchair-widget(:class='{active: $store.state.menu}')
        span.openchair-widget Virtual Consult

      
      
      
    //- video.home-hero__video(loop muted autoplay v-load-directive='')
    //-   source.home-hero__source(:src='props.acf.hero_video' type='video/mp4', :poster='props.acf.poster')
    //-   | Your browser does not support video.
  //- 
  //- .home-hero__appt.openchair-widget(:class='{active: $store.state.menu}')
  //-   span.openchair-widget Schedule Consultation
  //-   Icon.home-hero__appt-icon.openchair-widget(name='arrow')
  //- a.home-hero__appt#virtual(:class='{active: $store.state.menu}', href="https://formsroostergrin.com/mattiacioortho/virtual-page/index.html")
  //-   span Virtual Smile Assessment
  //-   Icon.home-hero__appt-icon(name='arrow')
