.divider(v-if='props')
  .divider__container
    .divider__text
      | we're here for you when you need us even after hours
      | Call or text us anytime
    a.divider__phone(:href='props.acf.phone.href')
      span {{ props.acf.phone.label }}
