.divider
  .divider__container
    .divider__text
      | we're here for you when you need us even after hours
    a.divider__phone(:href='props.acf.phone.href')
      span {{ props.acf.phone.label }}
