.modal
  .modal__overlay(@click='closeModal')
  .modal__container
    .modal__close(@click='closeModal')
      span
      span
    .modal__content
      .modal__title
        | schedule a free consultation
