#head.header(:class="{'header--home': $route.path === '/' && !$store.state.menu, 'header--family-fun-event': $route.path.includes('/family-fun-event') }", v-if='props')
  v-waypoint.header__waypoint(@waypoint-out='scrollOut', @waypoint-in='scrollIn')
  Menu.header__menu--desktop
  transition(name='home-fade')
    HomeHero(v-show='$route.path === "/" && !$store.state.menu', :props='props')
  HeroMobile
