#head.header(:class="{'header--home': $route.path === '/' && !$store.state.menu, 'header--family-fun-event': $route.path.includes('/mouth-guard-registration'), 'header--thank-you': $route.path.includes('/thank-you') || $route.path.includes('/accessibility') ||  $route.path.includes('/mouth-guard-thank-you') }", v-if='props')
  v-waypoint.header__waypoint(@waypoint-out='scrollOut', @waypoint-in='scrollIn')
  Menu.header__menu--desktop(:class="{'header__menu--thank-you': $route.path.includes('/thank-you') ||  $route.path.includes('/mouth-guard-thank-you') || $route.path.includes('/accessibility') }", v-if='props')
  transition(name='home-fade')
    HomeHero(v-show='$route.path === "/" && !$store.state.menu', :props='props')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/covid-19-updates") && !$store.state.menu', :props='covid')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/virtual-services") && !$store.state.menu')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/videos") && !$store.state.menu')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/virtual-consultation") && !$store.state.menu')
  HeroMobile(:props='props')
