#head.header(:class="{'header--home': $route.path === '/' && !$store.state.menu, 'header--family-fun-event': $route.path.includes('/mouth-guard-registration'), 'header--retainer-program': $route.path.includes('/retainer-program'), 'header--exit-interview': $route.path.includes('/exit-interview'), 'header--smile-assurance': $route.path.includes('/smile-assurance-program'), 'header--thank-you': $route.path.includes('/thank-you') || $route.path.includes('/accessibility') ||  $route.path.includes('/mouth-guard-thank-you') }", v-if='props')
  v-waypoint.header__waypoint(@waypoint-out='scrollOut', @waypoint-in='scrollIn')
  Menu.header__menu--desktop( :class="{'header__menu--thank-you': $route.path.includes('/thank-you'), 'header__menu--exit-interview': $route.path.includes('/exit-interview'), 'header__menu--smile-assurance': $route.path.includes('/smile-assurance-program'), 'header__menu--retainer-program': $route.path.includes('/retainer-program') ||  $route.path.includes('/mouth-guard-thank-you') || $route.path.includes('/accessibility') }", v-if='props')
  transition(name='home-fade')
    HomeHero(v-show='$route.path === "/" && !$store.state.menu', :props='props')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/covid-19-updates") && !$store.state.menu', :props='covid')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/virtual-services") && !$store.state.menu')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/videos") && !$store.state.menu')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/virtual-consultation") && !$store.state.menu')
  transition(name='fade-in')
    HeroPages(v-show='$route.path.includes("/7-and-up") && !$store.state.menu')    
  HeroMobile(:props='props')
