.custom-videos
  background: black

  #videos
    position: relative
    top: -50px
    width: 100%
    height: 1px

  &__desktop
    display: flex
    position: relative
    width: 100%

    // @media(max-width: $screen-md)
    //   display: none
    @media(max-width: $screen-sm)
      display: none

  // &__clickable
  //   display: none
  //   width: 100%

  //   @media(max-width: $screen-md)
  //     display: flex

  //   @media(max-width: $screen-sm)
  //     display: none

  &__mobile
    display: none

    @media(max-width: $screen-sm)
      display: block

  &__tab
    @extend .image-norm
    position: relative
    z-index: 1
    transition: width 0.3s cubic-bezier(0.32, 0.9, 0.76, 0.99)
    width: 14%
    height: 620px

    &--active
      z-index: 2
      width: 30%
      box-shadow: 0px 0px 36px 12px rgba(255, 255, 255, 1.0)

    &:hover
      cursor: pointer

  &__overlay
    position: absolute
    top: 0
    left: 0
    opacity: 0.4
    background: black
    width: 100%
    height: 100%
    transition: opacity 0.3s cubic-bezier(0.32, 0.9, 0.76, 0.99)
    .custom-videos__tab--active &
      opacity: 0.4

  &__title
    transform: rotate(-90deg)
    width: 620px
    color: $white
    font-size: 22px
    font-weight: 600
    text-align: right
    position: relative
    top: 420px
    right: calc(300px - 6vw)

    .custom-videos__tab--active &
      display: none
    &--active
      position: relative
      margin: 40px 0
      width: 100%
      color: $white
      font-size: 22px
      font-weight: 600
      padding: 0px 10%
      text-align: center

  &__content
    position: relative
    width: 100%
    color: $white
    font-size: 18px
    padding: 0px 10%

  &__mobile-tab
    @extend .image-norm
    position: relative
    transition: all 0.4s ease-in-out
    height: 105px

    &:nth-child(1)
      background-position: center 48%
    &:nth-child(2)
      background-position: center 27%
    &:nth-child(3)
      background-position: center 27%
    &:nth-child(5)
      background-position: center 29%

    &--active
      height: 207px

      @media(max-width: $screen-xs)
        height: 310px

  &__mobile-overlay
    position: absolute
    top: 0
    left: 0
    opacity: 0.42
    background: $black
    width: 100%
    height: 100%

  &__mobile-label
    display: flex
    align-items: center
    padding: 40px 30px 32px

  &__mobile-selector
    display: flex
    position: relative
    align-items: center
    justify-content: center
    margin-right: 16px
    border-radius: 5px
    border: 1px solid rgba($white, 0.7)
    background: rgba($blue, 0.7)
    width: 32px
    height: 32px

    &--plus,
    &--minus
      position: absolute
      font-size: 32px
      color: $white

  &__mobile-title
    position: relative
    width: calc(100% - 32px - 16px)
    color: $white
    font-size: 22px
    font-weight: 600

    @media(max-width: $screen-xs)
      font-size: 18px

  &__mobile-content
    position: relative
    padding: 0 30px 30px
    color: $white

  .fade-in-tab-text
    @include fade-in-tab-text

  .fade-in-label
    @include fade-in-label




  // Greg's additions
  &__video-player
    &-wrapper
      position: fixed
      top: 0
      left: 0
      // position: absolute
      z-index: -1
      width: 100vw
      height: 100vh
      // width: 100%
      // height: 100%
      display: flex
      justify-content: center
      align-items: center
      // pointer-events: none
      &--active
        z-index: 999

    &-bg
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 2px
      height: 2px
      background: rgba($black, 0.9)
      transition: width 0.3s ease-in, height 0.6s ease-in 0.3s
      .custom-videos__video-player-wrapper--active &
        width: 100%
        height: 100%

    &-close-btn
      position: absolute
      z-index: -1
      top: calc(50vh - ((800px * 9 / 16) / 2) - 30px)
      right: calc(50vw - (800px / 2) - 30px)
      width: 22px
      height: 22px
      opacity: 0
      color: $white
      box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 1.0)
      cursor: pointer
      transition: opacity 0.3s ease 1s, transform 0.1s linear, box-shadow 0.1s linear
      @media screen and ( max-width: 1000px )
        top: calc(50vh - ((80vw * 9 / 16) / 2) - 30px)
        right: calc(50vw - (80vw / 2) - 30px)
      &:hover
        transform: scale(1.2)
        box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 1.0)
      .custom-videos__video-player-wrapper--active &
        z-index: 1000
        opacity: 1

      span
        display: block
        position: absolute
        top: 10px
        width: 22px
        height: 2px
        background: $white
        &:first-child
          transform: rotate(45deg)
        &:last-child
          transform: rotate(-45deg)
          

    &-video
      position: absolute
      width: 800px
      height: calc(800px * 9 / 16)
      object-fit: cover
      opacity: 0
      box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 1.0)
      @media screen and ( max-width: 1000px )
        width: 80vw
        height: calc(80vw * 9 / 16)
        
      .custom-videos__video-player-wrapper--playing &
        opacity: 1

      &:focus
        outline: none

    &-poster
      max-width: 100%
      object-fit: cover
      cursor: pointer
      &-ctnr
        position: absolute
        width: 800px
        height: calc(800px * 9 / 16)
        box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 1.0)
        opacity: 0
        z-index: 1
        transition: opacity 2s ease 1s
        @media screen and ( max-width: 1000px )
          width: 80vw
          height: calc(80vw * 9 / 16)
        .custom-videos__video-player-wrapper--active &
          opacity: 1

        &--playing
          transition: opacity 2s ease, z-index 2s ease
          z-index: -1
          opacity: 0 !important

  &__mobile-play-video
    position: relative
    padding: 30px 30px 30px
    color: $white
    width: 100%
    font-weight: bold
    text-align: center

    span
      box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 1.0)
      padding: 5px 15px
