.custom-treatments-7up(:style="{backgroundImage: 'url(' + props.bg_img + ')'}")#seven-up
  .custom-treatments-7up__container
    .custom-treatments-7up__title(v-html='props.title')
    .custom-treatments-7up__text(v-html='props.text')
    img.custom-treatments-7up__uplogo(v-if='props.seven_up_logo' v-bind:src='props.seven_up_logo')
    .custom-treatments-7up_button
      .custom-treatments-invisalign__read-more.read-button(v-on:click="toInvisalign()")
        //-
        | Schedule Your Complimentary Evaluation Today
      .custom-treatments-invisalign__read-more
        <a href="tel:1-585-742-1050">Call Us</a>   
    .custom-treatments-7up__row
      .custom-treatments-7up__left
        .custom-treatments-7up__icon-outer
          .custom-treatments-7up__icon-inner
            Icon.custom-treatments-7up__icon(name='faces')
        .custom-treatments-7up__subtitle(v-html='props.top.subtitle')
        .custom-treatments-7up__top-text.hello(v-html='props.top.text')       
      .custom-treatments-7up__right(:style="{backgroundImage: 'url(' + props.top.img + ')'}")
    .custom-treatments-7up__row
      .custom-treatments-7up__left
        .custom-treatments-7up__header(v-html='props.bottom.header')
        .custom-treatments-7up__bottom-text(v-html='props.bottom.text')
      .custom-treatments-7up__right(:style="{backgroundImage: 'url(' + props.bottom.img + ')'}")
