.pages-review
  .pages-review__wrap
    h2.pages-review__title(v-if='props.acf.title' v-html='props.acf.title')
    p.pages-review__text(v-if='props.acf.content' v-html='props.acf.content')
    img.pages-review__scan(v-if='props.acf.scan_image' v-bind:src='props.acf.scan_image' alt='Scan image')
    a.pages-review__link(href='/smile-assurance-program?skip=1' title='next') Next
    p.pages-review__text(style="margin-top: 1rem")  Once on Google, under Mattiacio Orthodontics, click on the "Reviews" tab. Scroll down to "Rate and Review on Google" and select your star rating and leave us a review!