.nav-desktop(v-if='props', :class='{"nav-desktop--scrolling": $store.state.nav}')
  .nav-desktop__container
    .nav-desktop__item
      .nav-desktop__dropdown(:class='{"nav-desktop__dropdown--active": $store.state.menu}', @click='dropdown')
        span GET IN TOUCH
        Icon.nav-desktop__dropdown-icon(name='triangle', :class='{"nav-desktop__dropdown-icon--open": open}')
        transition(name='fade-in')
          .nav-desktop__dropdown-container(v-show='open')
            a.nav-desktop__dropdown-phone(:href='props.acf.phone.href')
              Icon.nav-desktop__phone(name='phone')
              p {{props.acf.phone.label}}
            a.nav-desktop__dropdown-map(:href='props.acf.address.href' target='_blank')
              Icon.nav-desktop__map(name='location')
              p MAP  
            a.nav-desktop__dropdown-email(:href='props.acf.social_links[1].href')
              Icon.nav-desktop__email(name='envelope')
              p EMAIL US
    
    .nav-desktop__item
      .nav-desktop__logo-container(@click='closeMenu')
        Icon.nav-desktop__logo(name='matt_logo-01', :class='{"nav-desktop__logo--active": $store.state.menu}')
    .nav-desktop__item
      .nav-desktop__menu-container(@click='toggleMenu' v-scroll-to='{el: "#head", container: "body", duration: 750, easing: "ease-in-out", x: false, y: true}')
        .nav-desktop__menu
          | MENU
        .nav-desktop__hamburger(:class='{"nav-desktop__hamburger--active": $store.state.menu}')
          span
          span
          
