.custom-home-welcome
  .custom-home-welcome__container
    .custom-home-welcome__title(v-html='props.title')
    .custom-home-welcome__subtitle(v-html='props.subtitle')
    .custom-home-welcome__text-container
      .custom-home-welcome__text(v-html='props.text')
      a.custom-home-welcome__button(:href='props.btn_link' target="_blank")
        span(v-html='props.btn_name')

