.page-treatments
  Loader(v-if='loading')
  div(v-if='props && !loading') 
    Invisalign(:props='props.acf.custom_invisalign')
    Damon(:props='props.acf.custom_damon')
    SevenUp(:props='props.acf.custom_7up')
    Divider
    Adults(:props='props.acf.custom_adults')
