.nav-bottom(v-if='props', :class='{"nav-bottom--scrolling": $store.state.nav, "nav-bottom--notransparent": $route.path === "/" }')
  .nav-bottom__container
    // a.nav-bottom__button(v-if='props.acf.covid_19_button.label && props.acf.covid_19_button.href'
      v-html='props.acf.covid_19_button.label'
      :href='props.acf.covid_19_button.href')
    a.nav-bottom__button(v-if='props.acf.virtual_services_button.label && props.acf.virtual_services_button.href'
      v-html='props.acf.virtual_services_button.label'
      :href='props.acf.virtual_services_button.href')
    
