// --------------------------------------------------------
// units
// --------------------------------------------------------
@import './sass/units/units'

// --------------------------------------------------------
// vendors
// --------------------------------------------------------
@import './sass/vendors/all.vendors'

// --------------------------------------------------------
// utilities
// --------------------------------------------------------
@import './sass/utilities/**/*' 
@import './shared/**/*.sass'

// --------------------------------------------------------
// base
// --------------------------------------------------------
@import './sass/base/base'

// --------------------------------------------------------
// pages
// --------------------------------------------------------
@import './pages/**/*.sass'
@import './pages/**/**/*.sass'

// --------------------------------------------------------
// components
// --------------------------------------------------------
@import './components/**/*.sass'
@import './components/**/**/*.sass'
@import './components/**/**/**/*.sass'

// --------------------------------------------------------
// transitions
// --------------------------------------------------------
@import './sass/base/transitions'

.footer_address2
  margin-top: 15px

.access-wrap
  max-width: 1100px
  margin: 0px auto
  padding: 50px 15px 50px
  text-align: center

.header--thank-you.menuaddthank
  height: 100vh

.header--thank-you.menuaddthank .header__menu--thank-you      
  display: block


.hero-mobile__virtual-consultation
  display: none

@media screen and (max-width: $break-md)
  .hero-mobile
    height: 100%

  .hero-mobile__virtual-consultation
    height: 100%
    display: block

.hero-mobile__virtual-consultation .hero-mobile__title
  max-width: 700px;
  width: 100%;
  text-align: center;

.custom-treatments-7up_button .custom-treatments-invisalign__read-more a
  color: #fff;

.custom-treatments-7up_button
  width: auto;
  margin: 15px auto;
  display: block;
  text-align: center;

.custom-treatments-7up_button .custom-treatments-invisalign__read-more
  display: inline;
  text-align: center;
  margin: 0px 15px;

@media screen and (max-width:880px)
  .custom-treatments-invisalign__read-more.read-button
    display: block;
    position: relative;
    margin-bottom: 20px;
    max-width: 320px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;

  .custom-treatments-7up_button
    width: auto;
    margin: 15px auto;
    display: block;
    text-align: center;
    height: 150px;

 
