.custom-treatments-invisalign#invisalign
  .custom-treatments-invisalign__container
    .custom-treatments-invisalign__title(v-html='props.title')
    .custom-treatments-invisalign__row
      .custom-treatments-invisalign__left
        Icon.custom-treatments-invisalign__logo(name='invisalign')
        //- Icon.custom-treatments-invisalign__logo(name='invisalign-teen')
        .custom-treatments-invisalign__text(v-html='props.text')
        .custom-treatments-invisalign__read-more(v-on:click="toInvisalign()")
          //- 
          | Read More
      .custom-treatments-invisalign__right(:style="{backgroundImage: 'url(' + props.img + ')'}")
  
