.custom-treatments-invisalign#invisalign
  .custom-treatments-invisalign__container
    .custom-treatments-invisalign__title(v-html='props.title')
    .custom-treatments-invisalign__row
      .custom-treatments-invisalign__left
        Icon.custom-treatments-invisalign__logo(name='invisalign')
        .custom-treatments-invisalign__text(v-html='props.text')
        router-link.custom-treatments-invisalign__read-more(to='/invisalign#section-0')
          //- 
          | Read More
      .custom-treatments-invisalign__right(:style="{backgroundImage: 'url(' + props.img + ')'}")
  
