.custom-treatments-adults

  &__wrapper
    position: relative
    height: 790px

    @media screen and (max-width: $break-md)
      height: 900px

    @media screen and (max-width: $break-sm)
      height: 1000px

    @media screen and (max-width: 400px)
      height: 1120px

    @media screen and (max-width: 350px)
      height: 1320px  

  &__shape
    position: absolute
    z-index: -1
    background: $pale-blue
    width: 100%
    height: 100%
    overflow: hidden

    svg
      position: absolute
      height: 100%

      .curve-fill
        fill: $sea-foam !important

      @media screen and (max-width: $break-md)
        left: -220px

      @media screen and (max-width: $break-sm)
        display: none

  &__container
    @extend .flex-container-lg
    @extend .flex
    @extend .flex-between
    width: 100%
    height: 100%

    @media screen and (max-width: $break-md)
      flex-direction: column

  &__left
    @extend .flex

    h2
      @extend .h2-option
      align-self: center
      width: 25%

      @media screen and (max-width: $break-md)
        margin-top: 2rem
        width: 100%
        text-align: center
        color: $black

  &__right
    @extend .flex
    @extend .flex-between
    flex-direction: column
    transition: width .25s ease-in-out
    margin: 50px 0
    width: 71%

    @media screen and (max-width: $break-lg)
      width: 76%

    @media screen and (max-width: $break-md)
      width: 100%

  &__card
    @extend .flex
    @extend .flex-between
    border-radius: 20px
    box-shadow: 0 3px 5px 1px rgba($black, 0.11)
    background: $white
    padding: 22px 34px 34px 22px
    max-width: 770px
    height: 100%
    min-height: 210px


    &:nth-child(2)
      align-self: flex-end

    @media screen and (max-width: $break-md)
      margin-bottom: 1.5rem

    @media screen and (max-width: $break-sm)
      box-shadow: none
      background: transparent
      padding: 0
      min-height: 230px

    @media screen and (max-width: 374px)
      min-height: 360px

  &__card-right
    align-self: flex-end
    width: 87%

    @media screen and (max-width: $break-sm)
      align-self: flex-start
      margin-top: 1rem
      margin-left: 1rem
      width: 100%

  &__icon-outer
    @extend .icon-outer

  &__icon-inner
    @extend .icon-inner

  &__icon
    @extend .icon

    &--bowtie
      padding: 8px 1px

    &--star
      padding: 3px

  &__card-title
    @extend h3
    margin-bottom: 1rem
