#app
  Loader(v-show='loading && !$store.state.body')
  div(v-if='props && !loading')
    Navigation
    Header
    transition(name='fade-in')  
      router-view
    transition(name='fade-in')
      Modal(v-show='$store.state.showModal')
    Footer
    Revisions
