#app
  Loader(v-show='$store.state.loading')
  div(v-if='props')
    Navigation
    Header
    transition(name='fade-in')  
      router-view
    transition(name='fade-in')
      Modal(v-show='$store.state.showModal')
    Footer
    transition(name='fade-in')
      EventModal(v-show='$store.state.funEvent')    
