.custom-contact-sponsor-section#sponsor
  .custom-contact-sponsor-section__title(v-html='props.title')
  .custom-contact-sponsor-section__text(v-html='props.text')  
  .custom-contact-sponsor-section__container
    .custom-contact-sponsor-section__form-container
      SponsorForm
    .custom-contact-sponsor-section__instructions-container
      .custom-contact-sponsor-section__instructions(v-html='props.instructions')    
