.custom-about-office#office
  .custom-about-office__container
    .custom-about-office__title(v-html='props.title')
    .custom-about-office__row  
      .custom-about-office__left
        .custom-about-office__tabsnamelist
            input#tab1(type='radio' name='tab' checked='checked')
            label(for='tab1')(v-html='props.tabname1')
            input#tab2(type='radio' name='tab')
            label(for='tab2')(v-html='props.tabname2')
            .custom-about-office__tabscontentbox
              swiper#tabc1.custom-about-office__slider(:options='swiperOption')
                swiperSlide.custom-about-office__slide(
                v-for='(slide, i) in props.slides'
                :key='i'
                :style="{backgroundImage: 'url(' + slide.url + ')'}"
                )
                .custom-about-office__pagination(slot='pagination')
                .custom-about-office__next(slot='button-next')
                  Icon(name='arrow-01')
                .custom-about-office__prev(slot='button-prev')
                  Icon(name='arrow-01')
              swiper#tabc2.custom-about-office__slider(:options='swiperOption')
                swiperSlide.custom-about-office__slide(
                v-for='(slide, i) in props.slides2'
                :key='i'
                :style="{backgroundImage: 'url(' + slide.url + ')'}"
                )
                .custom-about-office__pagination(slot='pagination')
                .custom-about-office__next(slot='button-next')
                  Icon(name='arrow-01')
                .custom-about-office__prev(slot='button-prev')
                  Icon(name='arrow-01')
      .custom-about-office__right
        .custom-about-office__content(v-html='props.content')            
        
