.custom-about-office
  padding-top: rem-calc(103px)
  padding-bottom: rem-calc(70px)

  @media screen and (max-width: $break-sm)
    padding-top: 4rem

  &__container
    @extend .flex-container-lg

  &__title
    @extend h2
    margin-bottom: rem-calc(81px)
    text-align: center

    @media screen and (max-width: $break-sm)
      margin-bottom: 2rem

  &__row
    @extend .flex
    @extend .flex-between

    @media screen and (max-width: 1000px)
      flex-direction: column-reverse

  &__left
    width: 56%

    @media screen and (max-width: 1000px)
      margin: 2.5rem auto
      width: 90%

    @media screen and (max-width: $break-sm)
      width: 100%

  &__right
    align-self: center
    width: 31%

    @media screen and (max-width: 1000px)
      width: 80%

    @media screen and (max-width: $break-md)
      text-align: center

  &__slide
    transform: scale(.7)
    transition: all 1s ease-out
    z-index: -1
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 100% !important
    height: 440px !important

    &--prev
      transform: translate(0, -10%) scale(.8)
      opacity: .75
      filter: blur(2px)

      @media screen and (max-width: 1000px)
        transform: translate(10%, -10%) scale(.9)

      @media screen and (max-width: $break-md)
        transform: translate(0, 0) scale(.9)

    &--active
      transform: translateX(-68%) scale(.9)

      @media screen and (max-width: $break-lg)
        transform: translateX(-88%) scale(.9)

      @media screen and (max-width: 1000px)
        transform: translateX(-70%) scale(.9)

      @media screen and (max-width: $break-md)
        transform: translateX(0) scale(.9)

    @media screen and (max-width: $break-lg)
      height: 400px

    @media screen and (max-width: 1000px)
      height: 440px

    @media screen and (max-width: $break-md)
      transform: scale(.9)

    @media screen and (max-width: $break-sm)
      height: 270px

  &__next,
  &__prev
    position: absolute
    bottom: 0
    cursor: pointer
    width: 1.3rem
    fill: $blue-grey

  &__next
    right: 32%

    @media screen and (max-width: $break-sm)
      right: 10%

  &__prev
    left: 32%
    transform: rotateY(180deg)

    @media screen and (max-width: $break-sm)
      left: 10%

  &__pagination
    padding: 1rem 0 .4rem
    text-align: center

    .swiper-pagination-bullet
      opacity: 1
      border: 1px solid $blue-grey !important
      background: transparent !important
      width: 10px !important
      height: 10px !important

      &-active
        background: rgba($blue-grey, .7) !important
