.custom-about-office
  padding-top: rem-calc(103px)
  padding-bottom: rem-calc(70px)

  &__container
    @extend .flex-container-lg

  &__title
    @extend h2
    margin-bottom: rem-calc(81px)
    text-align: center

  &__row
    @extend .flex
    @extend .flex-between

  &__left
    width: 56%

  &__right
    align-self: center
    width: 31%

  &__slide
    transform: scale(.7)
    transition: all .85s ease-out
    z-index: -1
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 100% !important
    height: 440px

    &--prev
      transform: translate(0, -10%) scale(.8)
      filter: blur(2px)

    &--active
      transform: translateX(-68%) scale(.9)

  &__next,
  &__prev
    position: absolute
    bottom: 0
    width: 1.3rem
    fill: $blue-grey

  &__next
    right: 32%

  &__prev
    left: 32%
    transform: rotateY(180deg)

  &__pagination
    padding: 1rem 0 .4rem
    text-align: center

    .swiper-pagination-bullet
      opacity: 1
      border: 1px solid $blue-grey !important
      background: transparent !important
      width: 10px !important
      height: 10px !important

      &-active
        background: rgba($blue-grey, .7) !important
