.hero-pages
  .hero-pages__overlay(:class='{ "hero-pages__overlay--covid": $route.path === "/covid-19-updates", "hero-pages__overlay--virtual-services": $route.path === "/virtual-services" }')
    .hero-pages__container
      h2.hero-pages__title {{ $route.name }}
      
      
    
  //- .hero-pages__appt.openchair-widget(:class='{active: $store.state.menu}')
  //-   span.openchair-widget Schedule Consultation
  //-   Icon.hero-pages__appt-icon.openchair-widget(name='arrow')
  //- a.hero-pages__appt#virtual(:class='{active: $store.state.menu}', href="https://formsroostergrin.com/mattiacioortho/virtual-page/index.html")
  //-   span Virtual Smile Assessment
  //-   Icon.hero-pages__appt-icon(name='arrow')
